<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on GitHub: https://github.com/Shazwazza/Examine/
-->
<Examine>
  <ExamineIndexProviders>
    <providers>
      <add name="InternalMemberIndexer" type="UmbracoExamine.UmbracoMemberIndexer, UmbracoExamine"
           supportUnpublished="true"
           supportProtected="true"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>
    </providers>
  </ExamineIndexProviders>

  <ExamineSearchProviders defaultProvider="InternalMemberSearcher">
    <providers>
      <add name="InternalMemberSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"
		       enableLeadingWildcard="true"/>

    </providers>
  </ExamineSearchProviders>

</Examine>
